html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

li {
  list-style: none
}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  /* background:#111; */
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: #000022; */
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.8;
  top: 0;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  z-index: -1;
  top: 0;
}

/* customed style */


html {
  background-color: #000022;
}

body {
  padding: 0;
  margin: 0;
  display: block;
}

img {
  position: relative;
  width: 80%;
  margin: auto;
  display: block;
}

.container {
  clear: both;
  position: relative;
  width: 80%;
  margin: auto;
  background-color: white;
  margin-top: 3%;
  border-radius: 10px;
  opacity: 0.8;
}

hr{
  width: 98%;
  margin: auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


#loder{
  width: 20px;
  height: 20px;
  background-color: red;
}


#title {
  font-family: 'Norican', cursive;
  font-size: 30px;
  font-weight: bold;
  line-height: 54px;
  float: left;
  margin-left: 1%;
}

#frame {
  position: relative;
  width: 90%;
  padding-left: 10%;
  height: 500px;
  
}

a {
  text-decoration: none;
  color: #4183C4;
}

a:hover {
  text-decoration: none;
}

.item {
  position: relative;
  float: right;
  margin-top: 1rem;
  background-color: #333;
  color: #bbb;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}

.text{
  margin-left: 2%;
  margin-right: 2%;
  
}

.text>p{
  /* font-family: "Norican"; */
  font-family: cursive;
  font-size: 20px;
  font-weight: normal;
  line-height: 40px;
  margin-bottom: 20px;
}


.category-list{
  width: 90%;
  margin: auto;
  font-size: large;
  text-align: center;
  
}



.category-list>a{
  font-family: cursive;
  list-style: none;
  float: left;
  position: relative;
  display: list-item;
  float: left;
  background-color: #4183C4;
  font-weight: bold;
  font-size: 20px;
  margin: 0 15% 0 10%;
}

.category-list>a:hover{
  text-decoration: none;
}


#float-right{
  clear: both;
  position: relative;
  color: #000;
  text-decoration: none;
  float: right;
  z-index: 1;
  margin-top: 20%;
  margin-right: 0.1%;

}




.data-item{
  border-radius: 5px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 20px;
  display: block;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 5px;

}



.item-title{
  text-align: center;
  font-size: 25px;
  font-family: cursive;
}

.data-item:hover{
  border-color: #007bff;
}

.item-description{
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}


footer{
  text-align: center;
  margin-bottom: 10px;
}


footer>a{
  font-family: cursive;
  font-size: 16px;
  text-align: center;
  border-width: 1px;
  line-height: 30px;
  float: left;
  margin-left: 30%;
  position: relative;
}

footer>a:hover{
  border-color: #007bff;
}


.pop{
  top: 0;
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: black;
  opacity: 0.5;
  z-index: 9999;
}



.popup{
  left: 30%;
  top: 25%;
  position: absolute;
  height: 23.1%;
  width: 40%;
  z-index: 9999;
  border-radius: 10px;
}

.popup>header{
  margin-left: 10%;
  text-align: center;
  height: 30px;
  width: 80%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.prompt{
  margin-left: 2%;
  position: relative;
float: left;
font-size: 20px;
font-family: cursive;
}

.off-button{
  margin-right: 1%;
  z-index: 100000;
  position: relative;
  border-top-right-radius: 10px;
  float: right;
  background-color: white;
  font-size: 20;
  width: 20px;
  border: none;
  height: 30px;
  text-decoration: none;

}

.off-button>img{
  width: 250%;
  margin-right: 3%;
  padding-right: 1%;
}

.error-img{
  width: 100%;
  height: 100%;
}

.error{
  z-index: inherit;
  /* background-image: url("../img/error.png"); */
  background-repeat: no-repeat;
  border-bottom:10px;
}